<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!--
        The 'th:' prefix is the Thymeleaf namespace.
        It allows Thymeleaf to process the attribute in the template engine.
        For example, th:text replaces the text content of the tag with the evaluated expression.

        Notice the ${...} syntax: This is called a Variable Expression in Thymeleaf.
        It is used to retrieve the attributes we added to the Model in our Controller (like 'firstName' and 'lastName').
    -->
    <p th:text="'Hello. I am ' + ${firstName} + ' ' + ${lastName} + '. I am learning Thymeleaf! I am currently using ' +
${modelType}"/>

</body>
</html>