body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #660000;
  color: white;
  text-align: center;
}

.screen {
  display: none;
  padding: 20px;
}

.screen:not(.hidden) {
  display: block;
}

.logo {
  font-size: 32px;
  margin-top: 100px;
}

input, select {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.status-box {
  margin: 40px auto;
  padding: 20px;
  background: #990000;
  border-radius: 15px;
  width: 80%;
}
